[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
selenium = "*"
fake-useragent = "*"
inquirerpy = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "pipenv run python3 src/index.py"
